div.row(style='margin-top:100px')
	div.col-md-4.offset-md-4
		form
			div.form-group
				label Email
				input.form-control(type='email',v-model='email')
			div.form-group
				label Password
				input.form-control(type='password',v-model='password')
			hr
			div.form-group
				button.btn.btn-success(type='button',@click='login') Login